.cl1{
	background:#00A0DE;
	color:#fff;
	margin-right: 2em;
}
.cl2{
	color:#00A0DE;
}
.cl1:hover,.cl1:active{
	background:#fff;
	color:#00A0DE;
}
.cl2:hover,.cl2:active{
	background:#00A0DE;
	color:#fff;
}
.flnt{
	display:flex;
	justify-content:space-between;
}
	.flnt figcaption{
		width:40%;
	}
		.flnt figcaption p,.ss3 figure figcaption p{
			color:#908E8F;
			margin:0 0.5em;
			text-align:justify;
		}
		.flnt .flabtn{
			display:flex;
			margin-top:2em;
		}
			.flnt .flabtn a{
				border:1px solid #00A0DE;
				padding:0.5em 1em;
				text-decoration:none;
			}
	.flnt figure{
		width:50%;
	}
.ss1{
	display:flex;
	justify-content:space-between;
}
	.ss1 figure{
		cursor:pointer;
		position:relative;
		transition:all 500ms ease-in;
		width:30%;
	}
		.ss1 figcaption{
			color:#fff;
			bottom:5px;
			position:absolute;
			text-shadow:0 0 3px #000;
			width:100%;
		}
			.ss1 figcaption h2{
				margin:0;
				padding:0.5em;
			}
	.ss1 .de:hover,.ss1 .de:active{
		transform: rotate(10deg);
	}
	.ss1 .iz:hover,.ss1 .iz:active{
		transform: rotate(-10deg);
	}
.ss3{
	border-bottom:1px solid #C3C3C3;
	border-top:1px solid #C3C3C3;
}
	.ss3 figure{
		display:flex;
		justify-content:space-between;
	}
		.ss3 figure div{
			width:40%;
		}
		.ss3 figure figcaption{
			width:50%;
		}
@media screen and (max-width: 1200px){
	.flnt{
		justify-content:space-around;
	}
}
@media screen and (max-width: 750px){
	.flnt figcaption{
		width:50%;
	}
	.flnt figure{
		width:40%;
	}
			.ss1 figcaption h2{
				font-size:16px;
			}
}
@media screen and (max-width: 550px){
	.flnt,.ss3 figure{
		flex-direction:column;
	}
		.flnt figcaption,.flnt figure,.ss3 figure div,.ss3 figure figcaption{
			margin:1em auto;
			width:90%;
		}
			.ss1 figcaption h2{
				display:none;
			}
}