.owl-theme .owl-controls{
	margin-top:10px;
	text-align:center;
	position: absolute;
	top: 1em;
	right: 0;
	-webkit-tap-highlight-color:transparent
}
.owl-theme .owl-controls .owl-next{
	margin: 0 0.25em;
	top: 40%;
}
.owl-theme .owl-controls .owl-prev{
	margin: 0 0.25em;
	top: 40%;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
	color:#fff;
	font-size:20px;
	padding:4px 7px;
	background:#E88A02;
	display:inline-block;
	cursor:pointer;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	width:20px;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background:#869791;
	color:#fff;
	text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
	opacity:.5;
	cursor:default
}

.owl-theme .owl-dots .owl-dot{
	display:inline-block;
	zoom:1;
	*display:inline
}

.owl-theme .owl-dots .owl-dot span{
	width:10px;
	height:10px;
	margin:5px 7px;
	background:#d6d6d6;
	display:block;
	-webkit-backface-visibility:visible;
	-webkit-transition:opacity 200ms ease;
	-moz-transition:opacity 200ms ease;
	-ms-transition:opacity 200ms ease;
	-o-transition:opacity 200ms ease;
	transition:opacity 200ms ease;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background:#C50801;
}
@media screen and (max-width: 800px){
	.owl-theme .owl-controls .owl-prev{
		left: 0;
	}
}