h1{
	text-align:center;
}
input[type=number]{
	margin:0 auto;
	width:97%;
}
#dslmf{
	background:#3DA3D9;
	color:#fff;
	padding:0.5em 0;
}
#dslmf:hover,#dslmf:active{
	background:#27729E;
}
#mnS{
	display:flex;
	justify-content:space-around;
}
	#mnS a{
		background:#3BA3D8;
		border-radius:0 0 5px 5px;
		box-shadow: 0 3px 5px rgba(0,0,0,0.5);
		color:#fff;
		padding:0 1em;
		text-decoration:none;
	}
	#mnS a:hover,#mnS a:active{
		background:#fff;
		color:#3BA3D8;
	}
.caja{
	display:none;
}
.columcent{
	text-align:center;
}
	.columcent a{
		text-decoration:none;
	}
.doll{
	background:#CD0000;
	color:#fff;
}
.doll:hover,.doll:active{
	background:#A82525;
}
.flxA{
	display:flex;
	justify-content:space-between;
}
.flxB{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
	.flxB h2{
		text-align:center;
	}
	.flxB figure, .flxB article{
		width:30%;
	}
@media screen and (max-width: 1200px){
	.flxB{
		justify-content:space-around;
	}
}
@media screen and (max-width: 800px){
		.flxB figure, .flxB article{
			width:40%;
		}
}
@media screen and (max-width: 650px){
	#mnS{
		flex-direction:column;
		text-align:center;
	}
		#mnS a{
			border-radius:0;
			padding:0.5em 0;
		}
}
@media screen and (max-width: 550px){
	.flxA,.flxB{
		flex-direction:column;
	}
		.flxB figure, .flxB article{
			margin:1em auto;
			width:90%;
		}
}