body{
	color:#434041;
	font-family:arial;
	font-size:16px;
}
	figure img{
		width:100%;
	}
		figure div img{
			width:100%;
		}
footer{
	color:#000;
	padding:2em 0 0 0;
}
	footer a{
		text-decoration:none;
		color:#000;
	}
	footer #hGG{
		margin: 0;
		font-size:40px;
	}
	footer #termcod a:hover,footer #termcod a:active{
		text-decoration:underline;
	}
	footer .colmg{
		display:flex;
		flex-direction:column;
		padding:1em 0;
	}
		footer .colmg h2{
			font-size:25px;
			margin:0;
			padding:0 0 1em 0;
		}
		footer .colmg .redes{
			display:flex;
			font-size:20px;
			justify-content:space-between;
			padding:0.25em 0;
		}
			footer .colmg .redes a:hover{
				transform:scale(1.1);
			}
	footer .flxfoot{
		display:flex;
		justify-content:space-between;
	}
#avlt{
	align-items:center;
	border-left:2px solid #8f8e8e;
	cursor:pointer;
	display:flex;
	margin-left: 1em;
}
#avlt:hover,#avlt:active{
	color:#44A5DA;
}
	#avlt figure{
		background-color:#8f8e8e;
		background-image:url(../images/default.png);
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		border:1px solid #1a99d3;
		border-radius:100%;
		height:40px;
		width:40px;
	}
#btn_menu{
	align-items:center;
	display:none;
	cursor:pointer;
	font-size:30px;
	justify-content:center;
	transform:scale(1.1);
}
	#btn_menu:hover,#btn_menu:active{
		transform:scale(1.2);
	}
#carus{
	align-items:center;
	display:flex;
	justify-content:flex-end;
}
	#carus div{
		padding:0 0.25em;
	}
	#carus #carrito{
		background:#f3a745;
		border-radius:5px;
		color:#fff;
		font-size:30px;
	}
#mnP{
	box-shadow:10px 0 10px rgba(0,0,0,0.5);
	align-items:center;
	display:flex;
	justify-content:space-around;
	padding:0.5em 0;
}
	#mnP nav{
		/*border:1px solid #000;*/
		padding:0.5em;
		width:45%;
	}
		#mnP nav a{
			border-right:1px solid #78777C;
			padding:0.5em 1em;
		}
	#mnP #carus{
		/*border:1px solid #000;*/
		width:45%;
	}
	#mnP a{
		color:#434041;
		text-decoration:none;
	}
	#mnP a:hover,#mnP a:active{
		background:#1a99d3;
		color:#fff;
	}
#mnV{
	background:#00A0DE;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	-webkit-transition: transform 0.3s ease-out;
	-moz-transition: transform 0.3s ease-out;
	-ms-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	-webkit-transform: translate(-250px,0);
	-moz-transform: translate(-250px,0);
	-ms-transform: translate(-250px,0);
	transform: translate(-250px,0);
	width: 250px;
	z-index: 99;
}
	#mnV a{
		border-bottom:1px solid rgba(255,255,255,0.5);
		color:#fff;
		padding:0.5em 0 0.5em 1em;
		text-decoration:none;
	}
	#mnV a:hover,#mnV a:active{
		background:#fff;
		color:#00A0DE;
	}
	#mnV.open{
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
.columninput{
	display:flex;
	flex-direction:column;
}
	.columninput input{
		border:1px solid #434041;
		border-radius:8px;
		padding:0.5em;
	}
	.columninput input:focus{
		box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
	}
	.columninput input:hover,.columninput input:active{
		border:1px solid #34A1D7;
	}
	.columninput input[type=submit]{
		background: #1a98d1;
		background: -moz-linear-gradient(top, #1a98d1 0%, #6fb3db 100%);
		background: -webkit-linear-gradient(top, #1a98d1 0%,#6fb3db 100%);
		background: linear-gradient(to bottom, #1a98d1 0%,#6fb3db 100%);
		border-radius:5px;
		border:0;
		box-shadow:0 2px 5px rgba(0,0,0,0.5);
		color:#fff;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a98d1', endColorstr='#6fb3db',GradientType=0 )
	}
	.columninput input[type=submit]:hover,.columninput input[type=submit]:active{
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 37%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #e5e5e5 37%,#ffffff 100%);
		background: linear-gradient(to bottom,  #e5e5e5 37%,#ffffff 100%);
		color:#434041;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
	}
	.columninput .nbsub{
		display:flex;
	}
	.hea h1{
		font-size:80px;
		color:#fff;
		margin:0;
		padding-left:3em;
		position:absolute;
		text-align:left;
		text-shadow:0 0 2px #000;
		top:2em;
		width:50%;
	}
.hoz{
	background: #1a99d3;
	background: -moz-linear-gradient(left,  #1a99d3 0%, #57abdd 100%);
	background: -webkit-linear-gradient(left,  #1a99d3 0%,#57abdd 100%);
	background: linear-gradient(to right,  #1a99d3 0%,#57abdd 100%);
	color:#f9f9f9;
	display:flex;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a99d3', endColorstr='#57abdd',GradientType=1 );
	justify-content:space-around;
	padding:0.5em 0;
}
	.hoz h2{
		margin:0;
		padding:0;
	}
.margen{
	margin:0 auto;
	max-width:1200px;
}
.mn1{
	margin-top:-0.30em;
}
.sg1{
	padding:2em 0;
}
.sg2{
	padding:3em 0;
}
.sg3{
	padding:4em 0;
}
.sg4{
	padding:5em 0;
}
	.ssdv input{
		margin-bottom:1em;
	}
@media screen and (max-width: 1630px){
	.hea h1{
		top:1em;
	}
}
@media screen and (max-width: 1450px){
	.hea h1{
		padding-left:1em;
	}
}
@media screen and (max-width: 1200px){
	#btn_menu{
		display:flex;
		order:2;
	}
	#carus{
		justify-content:center;
	}
			#mnP nav{
				display:none;
			}
			#mnP #carus{
				order:1;
				width:75%;
			}
		.hea h1{
			font-size:50px;
		}
		.margen{
			margin:1em;
		}
}
@media screen and (max-width: 800px){
	.hea h1{
		font-size:30px;
	}
}
@media screen and (max-width: 550px){
		footer #ar1{
			display:none;
		}
		.hea h1{
			top:0;
		}
}
@media screen and (max-width: 400px){
	footer .flxfoot{
		flex-direction:column;
		text-align: center;
	}
		footer .colmg .redes{
			justify-content:space-around;
		}
		.hea h1{
			display:none;
		}
}
