@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?mv892q');
    src:    url('fonts/icomoon.eot?mv892q#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mv892q') format('truetype'),
        url('fonts/icomoon.woff?mv892q') format('woff'),
        url('fonts/icomoon.svg?mv892q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-carritodecompras-01 .path1:before {
    content: "\e900";
    color: rgb(242, 167, 70);
}
.icon-carritodecompras-01 .path2:before {
    content: "\e901";
    margin-left: -1.1162109375em;
    color: rgb(255, 255, 255);
}
.icon-carritodecompras-01 .path3:before {
    content: "\e902";
    margin-left: -1.1162109375em;
    color: rgb(255, 255, 255);
}
.icon-carritodecompras-01 .path4:before {
    content: "\e903";
    margin-left: -1.1162109375em;
    color: rgb(255, 255, 255);
}
.icon-lupa-02:before {
    content: "\e904";
}
.icon-usuarioentrar-03:before {
    content: "\e905";
}
.icon-pinterest3:before {
    content: "\e600";
}
.icon-google-plus-square:before {
    content: "\e601";
}
.icon-chevron-up:before {
    content: "\e602";
}
.icon-carritoi:before {
    content: "\e603";
}
.icon-clear:before {
    content: "\e604";
}
.icon-old-phone:before {
    content: "\e605";
}
.icon-mail:before {
    content: "\e606";
}
.icon-whatsapp:before {
    content: "\e607";
}
.icon-phone:before {
    content: "\e608";
}
.icon-google-plus2:before {
    content: "\e609";
}
.icon-user:before {
    content: "\e60a";
}
.icon-twitter4:before {
    content: "\e60b";
}
.icon-facebook4:before {
    content: "\e60c";
}
.icon-youtube5:before {
    content: "\e60d";
}
.icon-instagram2:before {
    content: "\e60e";
}
.icon-login:before {
    content: "\e60f";
}
.icon-facebook5:before {
    content: "\e610";
}
.icon-bin:before {
    content: "\e800";
}
.icon-copyright:before {
    content: "\e801";
}
.icon-bicil_carr2:before {
    content: "\e802";
}
.icon-uniE80B:before {
    content: "\e80b";
}
.icon-chevron-thin-down:before {
    content: "\e80e";
}
.icon-copyright2:before {
    content: "\e80f";
}
.icon-icono_home-01:before {
    content: "\e909";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-phone2:before {
    content: "\e942";
}
.icon-location:before {
    content: "\e947";
}
.icon-search:before {
    content: "\e986";
}
.icon-menu:before {
    content: "\e9bd";
}
.icon-star-empty:before {
    content: "\e9d7";
}
.icon-star-full:before {
    content: "\e9d9";
}
.icon-checkmark:before {
    content: "\ea10";
}
.icon-circle-right:before {
    content: "\ea42";
}
.icon-circle-left:before {
    content: "\ea44";
}
.icon-ctrl:before {
    content: "\ea50";
}
.icon-radio-checked:before {
    content: "\ea54";
}
.icon-google:before {
    content: "\ea87";
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-facebook2:before {
    content: "\ea8d";
}
.icon-facebook3:before {
    content: "\ea8e";
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-twitter2:before {
    content: "\ea92";
}
.icon-twitter3:before {
    content: "\ea93";
}
.icon-youtube:before {
    content: "\ea97";
}
.icon-youtube2:before {
    content: "\ea98";
}
.icon-youtube3:before {
    content: "\ea99";
}
.icon-youtube4:before {
    content: "\ea9a";
}
.icon-blogger:before {
    content: "\eab9";
}
.icon-blogger2:before {
    content: "\eaba";
}
.icon-pinterest:before {
    content: "\ead0";
}
.icon-pinterest2:before {
    content: "\ead1";
}

